:root {
    --col: white;
    --bgcolor: darkolivegreen;
    --margin: 10px;
}

form > * {
    margin-top: var(--margin);
    width: 96%;
    max-width: 400px;
    border-radius: 6px;
    font-size: 1.1rem;
    border: solid 1px black;
    box-shadow: 1px 1px 5px black;
}

form > :not(:last-child) {
    background-color: var(--bgcolor);
    color: var(--col);
}

form > :last-child {
    width: 90%;
    max-width: 400px;
    padding: 5px;
    margin: 1rem auto 1.5rem;
}

form > * > * {
    padding: 15px;
    display: block;
}

form > * > * > * {
    display: block;
    margin: 0 auto;
}

#rating {
    display: block;
    max-width: 90%;
}

.rating-value {
    position: relative;
    float: right;
    margin-top: -38px;
    margin-right: 7px;
    padding: 0px;
}

form > * > * > * {
    width: 96%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin: 50px auto;
}